<div class="jumbotron">
    <h1>Data Opportunities with Azure</h1>
    <p class="lead">Il moderno disegno delle applicazioni non è più DB centrico. I principi del DDD dicono che per ogni contesto specifico, ci possono essere scelte diverse. Uno dei valori di Azure è quello di offrire una variegata serie di servizi di gestione dei dati a disposizione delle nostre soluzioni infrastrutturali ed applicative. Per ogni tipo di contenuto e dato ci sono una o più soluzioni specifiche. In questa sessione vedremo quali sono.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
